body {margin: 0;
    background-color: #ebe6cb;}
    
    #cabeçalho { width: 100%;
        height: 150px;
    background-color:black;
    opacity: 90%;}
    
    .logo {
        padding: 25px;
    border-radius: 50px;}
    
        #botoes {list-style: none;
            display: flex;
        gap: 200px;}
        
        #botoes a{text-decoration: none;
            color: white;
            font-size: 25px;
        width: 150px;
        position: relative;
        top: -135px;
        left: 200px;
        opacity: 100%;
    }
    
    a{text-decoration: none;
        color: black;}

        #marcas {position: relative;
        top: 350px;
    left: 755px;}

    #texto {font-size: 25px;
    position: relative;
left: 650px;
bottom: 150px;
width: 700px;}